# Coverage
coverage==4.5.3

# Formatting for py3.6 and higher
# black==19.3b0

# Lint
flake8==3.7.7
mccabe==0.6.1
pep8==1.7.1
pyflakes==2.1.1

# Testing
mock==3.0.5
nose==1.3.7
pluggy==0.11.0
py==1.10.0
pycodestyle==2.5.0
tox==3.11.0
